twilight: {
	twilight_red: { 
 		100:'#180a06',
		200:'#2c130b',
		300:'#441d12',
		400:'#582617',
		500:'#70311e',
		600:'#843923',
		700:'#9c442a',
		800:'#b04d2f',
		900:'#c95735',
		1000:'#ce684a',
		1100:'#d47c62',
		1200:'#d98972',
		1300:'#de9a86',
		1400:'#e2a796',
		1500:'#e8b8aa',
		1600:'#ecc6ba',
		1700:'#f2d6ce',
		1800:'#f6e4de',
		1900:'#fbf4f2',
		2000:'#ffffff',
	},
	twilight_dyellow: { 
 		100:'#161107',
		200:'#2d220f',
		300:'#443316',
		400:'#5b451e',
		500:'#725626',
		600:'#89672d',
		700:'#a47b36',
		800:'#bb8d3e',
		900:'#c59b52',
		1000:'#cda869',
		1100:'#d2b179',
		1200:'#d7ba88',
		1300:'#dcc397',
		1400:'#e0c9a3',
		1500:'#e5d2b2',
		1600:'#eadbc1',
		1700:'#efe4d1',
		1800:'#f4ede0',
		1900:'#f9f6ef',
		2000:'#fefeff',
	},
	twilight_yellow: { 
 		100:'#262202',
		200:'#4d4404',
		300:'#736706',
		400:'#958508',
		500:'#bba70a',
		600:'#e2ca0d',
		700:'#f2db26',
		800:'#f4e14c',
		900:'#f6e773',
		1000:'#f9ee99',
		1100:'#fbf3bb',
		1200:'#fbf6c9',
		1300:'#fcf7d3',
		1400:'#fdf9dd',
		1500:'#fdfbe6',
		1600:'#fefcf0',
		1700:'#fefefa',
		1800:'#ffffff',
	},
	twilight_green: { 
 		100:'#0d0f0a',
		200:'#1b1e14',
		300:'#292e1e',
		400:'#3a402a',
		500:'#484f34',
		600:'#565f3e',
		700:'#646e48',
		800:'#727e52',
		900:'#808d5d',
		1000:'#8f9d6b',
		1100:'#9ba77a',
		1200:'#a7b28a',
		1300:'#b0ba96',
		1400:'#bbc4a5',
		1500:'#c7ceb5',
		1600:'#d3d8c4',
		1700:'#dee2d3',
		1800:'#eaece3',
		1900:'#f3f4ef',
		2000:'#ffffff',
	},
	twilight_lblue: { 
 		100:'#010c26',
		200:'#041952',
		300:'#062579',
		400:'#0832a0',
		500:'#0a3fcb',
		600:'#0c4bf2',
		700:'#3268f4',
		800:'#5e88f6',
		900:'#85a5f8',
		1000:'#b1c5fb',
		1100:'#d8e2fd',
		1200:'#e1e9fd',
		1300:'#e6edfd',
		1400:'#f0f4fe',
		1500:'#f5f7fe',
		1600:'#fffffe',
	},
	twilight_dblue: { 
 		100:'#0b0e12',
		200:'#151a22',
		300:'#212834',
		400:'#2b3444',
		500:'#374356',
		600:'#414f66',
		700:'#4d5d78',
		800:'#576988',
		900:'#63789b',
		1000:'#7385a5',
		1100:'#8695b1',
		1200:'#92a0b9',
		1300:'#a1aec3',
		1400:'#aeb8cb',
		1500:'#bdc6d5',
		1600:'#cad1dd',
		1700:'#d9dee7',
		1800:'#e6e9ef',
		1900:'#f5f6f9',
		2000:'#ffffff',
	},
	twilight_purple: { 
 		100:'#100d10',
		200:'#1e181f',
		300:'#2f2630',
		400:'#3f3441',
		500:'#4d3f4f',
		600:'#5e4d60',
		700:'#6f5a71',
		800:'#7d667f',
		900:'#8d748f',
		1000:'#9b859d',
		1100:'#a490a6',
		1200:'#ad9caf',
		1300:'#b9aaba',
		1400:'#c2b5c3',
		1500:'#ccc0cd',
		1600:'#d7ced8',
		1700:'#e0dae1',
		1800:'#eae5ea',
		1900:'#f5f3f5',
		2000:'#ffffff',
	},
	twilight_brown: { 
 		100:'#0e0a05',
		200:'#20170d',
		300:'#2f2213',
		400:'#3d2c19',
		500:'#4c371e',
		600:'#5e4426',
		700:'#6c4e2c',
		800:'#7b5932',
		900:'#896338',
		1000:'#9b703f',
		1100:'#ae7d46',
		1200:'#bb8c58',
		1300:'#c49b6d',
		1400:'#ccaa83',
		1500:'#d4b795',
		1600:'#ddc5ab',
		1700:'#e5d4c1',
		1800:'#eee3d7',
		1900:'#f6f0e9',
		2000:'#ffffff',
		2100:'#ffffff',
	},
}